@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

.body-text {
    &--sm {
        font-size: 0.688rem;
        line-height: 16.5px;
    }

    &--md {
        font-size: 0.813rem;
        line-height: 19.5px;
    }

    &--lg {
        font-size: 1rem;
        line-height: 24px;
    }
}

.heading-text {
    font-size: 1.75rem;
    line-height: 33.6;
}